{% extends "app_base.html" %}
{% block content_title %}
<h1>校对</h1>
<style type="text/css">
  .zoom {
      display:inline-block;
      position: relative;
    }

    /* magnifying glass icon */
/*    .zoom:after {
      content:'';
      display:block;
      width:33px;
      height:33px;
      position:absolute;
      top:0;
      right:0;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhCAYAAABX5MJvAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAd5JREFUeNrMlT1rwlAUhvMhImhEsRQEoRBag2t1Cjo4OmUpgj9D8D+4CeI/cFPcHR0iDiqdpBALgS46qFSKQhBSmwMNtJrozc2XB8Lh3gTuc8953xPyeDwSepAk+aKlZ8LjoE7WPe159RvCF5CAyX7vN2O1Jp/PhxKJBL3ZbNThcKjgQmCBwOHdbvchmUwG9b3lcnkol8sfl2DIE2EafYMk1kwmExyPx4+RSITe7XaqJEkKx3EhfV0qlWQzEArhgkgaqdfr93DgfD5XWJaVcrmcDBnWsF+r1e7sVAKpIovFgoM2FAqF9783hhaJovgE1WAY5g23EkgV0Q6gjfY1cX5DhmpYsSgWyGQy2UM+LTu0CfJgMPjCcYcl1zSbzXWxWIwKghCfTqfB0Wi053k+nM1mw/C+3W5/OqGJqxqpVqvxRqORMvoYBKrpQ16tVqqTEIYgYNVKpRKNxWL0drtVZVk+tFqtlO4cIxC7EEhzBBzS7/dZMxCKsB9X5whYFoYV2DSdToc6nU7Kjjtsg8AYn81mitPtsDzi7c4JR0a82xBYIG5AWAZxC8ISiJsQyCBuQyCBeAFxFcQriIsgXkKYgngNYQjiB8QZiF8Q/0AChL/RO/uL+hUUcQNxExA/AgwAQCThORpp8DAAAAAASUVORK5CYII=");
    }*/

    .zoom img {
      display: block;
    }

    .zoom img::selection { background-color: transparent; }

</style>
{% endblock %}

{% block content %}
<div id='task' data-id={{task.id}} data-type={{task.task_type}} data-status={{task.status}} data-percent={{task.percent}}></div>
<div id="page-verify">

<div id='edit-content'>


<div class='row'>
<div class='col-md-4 col-xs-12'>
<span class='zoom' id='zoom-page-image'>
  <img src=#[image_url] width='500' height='642' alt='Daisy on the Ohoopee'/>
  <p></p>
</span>
</div>
 <div class='col-md-4 col-xs-12'>

 <div id="edit" class="mode">
  <textarea id="markdown" style="overflow: hidden; word-wrap: break-word; resize: none; height: 642px;"></textarea>
  </div>
</div>
 <div class='col-md-4 col-xs-12'>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item active">
    <a class="nav-link " data-toggle="tab" href="#pre" role="tab">预览</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#diff-content" role="tab">差异</a>
  </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="pre" role="tabpanel">
  <div id="preview" class="mode" style='min-height:606px'>
    <div id="output" class="markdown-body">
    </div>
</div></div>
  <div class="tab-pane" id="diff-content" role="tabpanel">...</div>
</div>


</div>
</div>
</div>
<div class='row'>
<template v-for="item in items">
    <div class='col-md-6 col-xs-12'>
        <div id=#[item.reel.code] class="ui segment">
            <div class='text_lines' style='background-color:white'>
              #[ item.reel.text_content_trad ]
            </div>
        </div>
    </div>
</template>
</div>
</div>
{% endblock %}


{% block base_foot_script %}
<script src='/static/plugins/jQuery/jquery.zoom.min.js' type="text/javascript"></script>
<script src='/static/plugins/jQuery/jquery.colorbox-min.js' type="text/javascript"></script>
<script src='/static/plugins/jQuery/jquery.colorbox-zh-CN.js' type="text/javascript"></script>
<script src='/static/plugins/jQuery/autosize.min.js' type="text/javascript"></script>
<script src='/static/plugins/markdown/markdown.min.js' type="text/javascript"></script>
<script type="text/javascript">
$(function() {
    var url = '/api/task/' + $('#task').data('id') + '/verify'
    $.ajax({
        url: url,
        method: 'get',
        cache: false,
        dataType: 'json',
        data: {},
        success: function(res) {
            page_verify.image_url = res.image_url
            page_verify.name = res.name
           // setTimeout( function () { $('#ex1').zoom(); }, 200 );
        },
        error: function(xhr, status, err) {
            console.log(err);
        }
    });
    $('textarea').autosize();

    $('#markdown').bind('keyup', function() {
        isEdited = true;
        $('#output').html(markdown.toHTML($('#markdown').val()));
    });
    $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
})


var page_verify = new Vue({
    el: '#page-verify',
    data: {
        total: 0,
        name: '',
        current: 0,
        pages: [],
        image_url: ''
    },
    watch: {
        pages: function() {
            //code here executes whenever the uploads array changes
            //and runs AFTER the dom is updated, could use this in
            //the parent component
        },
        image_url: function(){
          console.log("111111")
          $('#zoom-page-image').zoom({url: this.image_url,
          callback: function(){
            $(this).colorbox({href: this.src});
          }});
          //setTimeout( function () { $('#ex1').zoom({url: this.image_url}); }, 200 );
        }
    },
    methods: {
        diff: function(text1, text2) {
            //var diff = JsDiff.diffChars($(".text_lines:first").text(),$($(".text_lines")[1]).text()),
            var diff = JsDiff.diffChars(text1, text2, {
                ignoreWhitespace: true
            });
            var text = "", append_text = "";
            diff.forEach(function(part) {
                append_text = part.value.replace(/[\r]*/g, '');

                if (part.added) {
                    if ( append_text === "")
                        return;
                    append_text = (append_text.replace(/[\n\ \　]*/g,'')==='') ?  append_text  : "__" + append_text + "__";
                } else if (part.removed) {
                    if ( append_text === "")
                        return;
                    append_text = (append_text.replace(/[\n\ \　]*/g,'')==='') ?  append_text  : "*" + append_text + "*";
                } else {
                    //append_text = part.value;
                }
                text += append_text;
            });
            $('textarea#markdown').val(text);
            $('#output').html(markdown.toHTML(text));
        },
    }
});
</script>
{% endblock %}
